[core]
	editor = vim
[user]
	name = Toms Burgmanis
	email = toms.burgmanis@gmail.com
[credential]
	helper = store
[init]
	defaultBranch = master
[url "git@github.com:"]
	insteadOf = https://github.com/
