[core]
	editor = vim
	pager = delta
[user]
	name = Toms Burgmanis
	email = toms.burgmanis@gmail.com
[credential]
	helper = store
[init]
	defaultBranch = master
[url "git@github.com:"]
	insteadOf = https://github.com/
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[apply]
	whitespace = fix
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
